@model IEnumerable<SignalRCrud.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1>Product List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody id="tableBody">

    </tbody>
</table>